<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @founder.startup.admin.first_name %>, vous venez d'embarquer chez StartupStudio. 5, 4, 3, 2, 1, 0, Ignition!</h1>
    <p>
      Tu as demandé à rejoindre la rocket : <%= @founder.startup.title %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur StartupStudio.fr !
  </body>
</html>